<launch>

    <!-- removed code to run rs_d400_and_t265.launch -->

    <arg name="use_rviz" default="true" />
    <include file="$(find dof_4_lowerlonger_arm)/launch/demo.launch">
        <arg name="use_rviz" value="$(arg use_rviz)"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="motor1_to_lowercam" args="-0.300 -0.053848 0.290068 0.698132 -0.733038 0 /motor1/INPUT_INTERFACE /cam1_link 100" />

    <node pkg="tf" type="static_transform_publisher" name="motor1_to_uppercam" args="-0.293 -0.04826 0.332232 0.698132 -0.0524599 0 /motor1/INPUT_INTERFACE /cam2_link 100" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_t265cam" args="-0.2609 -0.0381 0.5149 3.8397 0 0 /world /t265_link 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_t265cam" args="-0.251 0.138938 -0.495808 2.44348 0 0 /t265_link /world 100" />
    



</launch>
